* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #830E1A;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

label {
    display: block;
    margin: 20px 0 5px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    background-color: #fdfdfd;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #3498db;
    outline: none;
}

button, .back-button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    background-color: #5B060F ;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
}

button:hover, .back-button:hover {
    background-color: #49030a;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

//dashboard

#card-container {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    gap: 20px;
}

.card-container .card {
    max-width: 200px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}