
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="dashboard-page">
    <div class="container">
        <h1>Dashboard</h1>
        <p><strong>Sexo:</strong> {{ campo1 }}</p>
        <p><strong>Percentual pixel vermelho:</strong> {{ campo2 }}</p>
        <p><strong>Percentual pixel azul:</strong> {{ campo3 }}</p>
        <p><strong>Percentual pixel verde:</strong> {{ campo4 }}</p>
        <p><strong>Hemoglobinas:</strong> {{ campo5 }}</p>
        <a href="form.html" class="back-button">Voltar ao formulário</a>
        
    </div>
</body>
</html>
